build
*.mode1v3
*.pbxuser
*.lev
*.o
Makefile
include/date.h
include/dgn_comp.h
include/lev_comp.h
include/onames.h
include/pm.h
src/monstr.c
src/tile.c
util/dgn_comp
util/dgn_lex.c
util/dgn_yacc.c
util/lev_comp
util/lev_lex.c
util/lev_yacc.c
util/makedefs
util/tilemap
